{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Final results
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Payoff</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>{{ p.round_payoff }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        The paying round was {{ paying_round }}.
        Your payoff for the experiment is therefore {{ total_payoff }}.
    </p>


{% endblock %}
